@{
    ViewData["Title"] = "Home Page";
}
<header>
    <style>
    </style>

</header>
<body style="background-color:#000000;">
    

    <div style="text-align: center; padding: 50px;">

        <h1 style="font-size: 48px; color: #04FFFB; font-family: 'Georgia', serif; margin-bottom: 30px; text-transform: uppercase; letter-spacing: 2px; text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1); box-shadow: 0 0 25px  #04FFFB; cursor: pointer; transition: 0.5s ease-in-out;">
            Contact Manager Application
        </h1>    
        <style>
                     h1:hover {
                         color: #FFFFFF; /* Change to white on hover */
                         box-shadow: 0 0 50px #FFFFFF; /* Change box shadow on hover */
                     }
        </style>
        <div  style="display: flex; justify-content: center; align-items: center; height: 50vh; width: -60%;">
            <img src="~/Images/image.jpg" alt="Contact Manager Icon" style="width: 550px; height: 320px; margin: 0;" />
        </div> 
    </div>
</body>